﻿@section Scripts {
    @Scripts.Render("~/Scripts/Skripta.js")
}

<div class="row">
    <div id="reg-div" class="col-sm-4">
        <form class="form-horizontal" method="post" action="post/" id="registracija">
            <h3>Registracija</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="regEmail" />
            </div>
            <div class="form-group ">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Potvrdi Lozinku</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Registracija</button>
            </div>
        </form>
    </div>

    <div id="login-div" class="col-sm-6">
        <form class="form-horizontal" method="post" action="post/" id="prijava">
            <h3>Prijava</h3>
            <div class="form-group ">
                <label class="control-label col-sm-2">Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Lozinka</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button class="btn btn-default">Prijava</button>
                <button id="reg-btn" class="btn btn-primary">Registracija</button>
            </div>
        </form>
    </div>

</div>

<div class="row">
    <div class="col-sm-6" id="info-div">
        <h4 style="display:inline" id="info"></h4>
        <button  style="display:inline ; float:right" id="btn-odjava" class="btn btn-primary">Odjava</button>
    </div>
</div>

<div class="row" >
    <div class="col-sm-6" id="table-div">
        
    </div>
</div>

<div class="row">
    <div class="col-sm-8" id="addNew-div">

        <form class="form-horizontal" action="post/" id="addNew">

            <div class="form-group">
                <label class="control-label col-sm-2">Naziv </label>
                <input id="naziv-nov" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Cena </label>
                <input id="cena-nov" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Kategorija </label>
                <select class="form-control" id="kategorije-slc"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Sacuvaj</button>
                <button id="odustani-btn"  class="btn btn-danger">Odustani</button>
            </div>
        </form>

    </div>
</div>






